@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
